<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Board</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="board-page">
			<div class="board">
				<p align="right"><%=user_name %>님 환영합니다.<button id = "btn_logout" type = "submit">Log-out</button></p></p>
				<h1>글 목록</h1>

				<!-- 검색 시작 -->
				

				<form id="searchForm" action = '/board/search' method="post" align="right">
					<input type = "text" name = "searchKey"/>
					<button>검색</button>
				</form>
				
					
				<!-- 검색 종료 -->

				<table class="title">
					<tr>
						<th width="20%">번호</th>
						<th width="30%">제목</th>
						<th width="20%">작성자</th>
						<th width="30%">등록일</th>
					</tr>
				</table>
				<table class="content">
					<% if(status == 'OK') { %>
						<% if(data.length == 0) { %>
							<tr>
								<td colspan="4">데이터가 없다.</td>
							</tr>
						<% } else { %>
							<% data.forEach(function(item, index){ %>
								<tr>
										<td width="20%"><%=item.bid %></td>
										<td width="30%"><a href="/board/update?bid=<%=item.bid%>">
											<%=item.title %></a></td>
										<td width="20%"><%=item.user_name %></td>
										<!-- /// query 대신 ejs  -->
										<td width="30%"><%=item.cdate.getFullYear() + '년' + 
											(item.cdate.getMonth()+1) + '월' + 
											item.cdate.getDate()+'일 ' + 
											item.cdate.getHours()+'시' + 
											item.cdate.getMinutes()+'분'%>
											
										</td>
									</tr>
							<% }); %>
						<% } %>
					<% } else {%>
						<tr>
							<td colspan="4">에러 잠시후 다시 시도하세요.</td>
						</tr>
					<% } %>
				</table>
				<div align="right"><button id="btn_board_new">새글 등록</button></div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="/javascripts/board.js"></script>
	</body>
</html>